@model Productos

<div asp-validation-summary="All"></div>
<form asp-action="AgregarObjeto" method="post">
     
    <div>
        <label>Numero Producto:</label>
        <input asp-for="CodigoProducto" />
    </div>

    <div>
        <label>Nombre Producto:</label>
        <input asp-for="NombreProducto" />
    </div>

    <div>
        <label>Prodcutos en existencia:</label>
        <input asp-for="ProductosEnExistencia" />
    </div>

    <div>
        <label>Precio:</label>
        <input asp-for="Precio" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Agregar</button>

</form>
