@model Productos

<h1>Producto Registrado Exitosamente</h1>
<p>
    SE  ha agregado el Producto @Model.CodigoProducto,@Model.NombreProducto,@Model.ProductosEnExistencia,@Model.Precio
  
</p>
<a asp-action="ListaObjetos">VER LISTA DE PRODUCTOS REGISTRADOS</a>
